{% extends 'base.html' %}

{% block content %}
    <div style=" border-radius:1rem; margin:2rem; text-align:center">
        <h1 style="font-family: 'Jua', sans-serif;">
           Hello World List!
        </h1>

        <!--
        form : 서버에 보내는 요청 명세서. 글이나 파일을 첨부하는 등의
        모든 데이터들이 POST의 body안에 들어가듯이 form안에 데이터 전부가 들어감
        action : 요청하려는 URL
        method : get/post 어떤 방식으로 보낼지 선택
        -->

        <form action="/account/hello_world/" method="post">
            {% csrf_token %}
        <!-- CSRF : 장고를 이용해 post 메소드를 사용해 서버에 요청을 보낼때는 CSRF토큰이라는 것을 항상 폼 내부에 명시해줘야함. -->
            <div>
                <input type="text" name="hello_world_input">
            </div>
            <div>
                 <input type="submit" class="btn btn-primary" value="post">
            <!-- 부트스트랩 내의 btn. primary색상 적용됨/value:버튼 내부에 들어갈 텍스트 -->
            </div>
        </form>

        {% if hello_world_list %}
            {% for hello_world in hello_world_list %}
            <h4>
                {{ hello_world.text }}
            </h4>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}